/* Set the background color for the whole page */
body {
  background-color: #f0f0f0; /* Replace with any color you like */
  margin: 0;  /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Optional: Set a default font */
}

.app-container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Optional: Set a default font */
  background-color: #a7e6b4;
  border-radius: 10%;
  padding: 0.5px 20px 20px 20px;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}

.form-container {
  
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container input {
  padding: 8px;
  font-size: 16px;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f8f9fa;
}

.summary-container {
  margin-top: 20px;
  background-color: #f1f3f5;
  padding: 15px;
  border-radius: 5px;
}

.download-btn {
  /* text-align: center; */
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.download-btn:hover {
  background-color: #0056b3;
}

.chart-container {
  margin-top: 20px;
}

